USE [master]
GO
/****** Object:  Database [Albergo]    Script Date: 08/03/2024 18:00:53 ******/
CREATE DATABASE [Albergo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AlbergoCifa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Albergo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AlbergoCifa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Albergo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Albergo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Albergo]
GO
/****** Object:  Table [dbo].[Camera]    Script Date: 08/03/2024 18:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Camera](
	[IdCamera] [int] IDENTITY(1,1) NOT NULL,
	[Descrizione] [nvarchar](max) NOT NULL,
	[Singola] [bit] NOT NULL,
	[Occupata] [bit] NOT NULL,
	[Prezzo] [money] NOT NULL,
 CONSTRAINT [PK_Camera] PRIMARY KEY CLUSTERED 
(
	[IdCamera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 08/03/2024 18:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Cognome] [nvarchar](50) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[CF] [nvarchar](50) NOT NULL,
	[Provincia] [nvarchar](50) NULL,
	[Citta] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Telefono] [nvarchar](50) NULL,
	[Cellulare] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prenotazione]    Script Date: 08/03/2024 18:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prenotazione](
	[IdPrenotazione] [int] IDENTITY(1,1) NOT NULL,
	[DataPrenotazione] [date] NOT NULL,
	[Anno] [nvarchar](50) NULL,
	[DataInizio] [date] NOT NULL,
	[DataFine] [date] NOT NULL,
	[Caparra] [money] NOT NULL,
	[Tariffa] [money] NOT NULL,
	[MezzaPensione] [bit] NOT NULL,
	[PrimaColazione] [bit] NOT NULL,
	[Conclusa] [bit] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdCamera] [int] NOT NULL,
 CONSTRAINT [PK_Prenotazione] PRIMARY KEY CLUSTERED 
(
	[IdPrenotazione] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RichiestaServizio]    Script Date: 08/03/2024 18:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RichiestaServizio](
	[IdRichiestaServizio] [int] IDENTITY(1,1) NOT NULL,
	[Data] [date] NOT NULL,
	[Quantita] [int] NOT NULL,
	[IdPrenotazione] [int] NOT NULL,
	[IdServizio] [int] NOT NULL,
 CONSTRAINT [PK_RichiestaServizio] PRIMARY KEY CLUSTERED 
(
	[IdRichiestaServizio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servizio]    Script Date: 08/03/2024 18:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servizio](
	[IdServizio] [int] IDENTITY(1,1) NOT NULL,
	[Descrizione] [nvarchar](max) NOT NULL,
	[Prezzo] [money] NOT NULL,
 CONSTRAINT [PK_Servizio] PRIMARY KEY CLUSTERED 
(
	[IdServizio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 08/03/2024 18:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Prenotazione]  WITH CHECK ADD  CONSTRAINT [FK_Prenotazione_Camera] FOREIGN KEY([IdCamera])
REFERENCES [dbo].[Camera] ([IdCamera])
GO
ALTER TABLE [dbo].[Prenotazione] CHECK CONSTRAINT [FK_Prenotazione_Camera]
GO
ALTER TABLE [dbo].[Prenotazione]  WITH CHECK ADD  CONSTRAINT [FK_Prenotazione_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[Prenotazione] CHECK CONSTRAINT [FK_Prenotazione_Cliente]
GO
ALTER TABLE [dbo].[RichiestaServizio]  WITH CHECK ADD  CONSTRAINT [FK_RichiestaServizio_Prenotazione] FOREIGN KEY([IdPrenotazione])
REFERENCES [dbo].[Prenotazione] ([IdPrenotazione])
GO
ALTER TABLE [dbo].[RichiestaServizio] CHECK CONSTRAINT [FK_RichiestaServizio_Prenotazione]
GO
ALTER TABLE [dbo].[RichiestaServizio]  WITH CHECK ADD  CONSTRAINT [FK_RichiestaServizio_Servizio] FOREIGN KEY([IdServizio])
REFERENCES [dbo].[Servizio] ([IdServizio])
GO
ALTER TABLE [dbo].[RichiestaServizio] CHECK CONSTRAINT [FK_RichiestaServizio_Servizio]
GO
USE [master]
GO
